/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain; }
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; width:100%; top:0; left:0; }
#container-wrap, #container { min-height:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
@media all and (-ms-high-contrast:none){ *::-ms-backdrop,.svg-img{width:100%;} }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-audio.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }

.page.ls { bottom:auto !important; }

nav#page-nav { display:none; }
html.nav-transition nav#page-nav { opacity:.3; pointer-events:none; }
nav#page-nav > button {
	display:block; position:fixed;
	left:0;
	top:50%;
	width:68px;
	height:68px;
	margin:-34px 0 0 0; /*.5 height*/
	text-align:center;
	outline:0;
	background:url(../images/arrows-slider.svg) no-repeat;
	opacity:.7;
}	
nav#page-nav > button:hover { opacity:1; }
nav#page-nav > #backBtn { left:0; }
html[data-dir="rtl"] nav#page-nav > #backBtn, html:not([data-dir="rtl"]) nav#page-nav > #nextBtn { 
	left:auto;
	right:0; 
	-ms-transform:scaleX(-1);
	-moz-transform:scaleX(-1);
	-webkit-transform:scaleX(-1);
	transform:scaleX(-1);
}

.hidden { display:none !important; }
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex; 
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:1.5ex;padding-left:1.5ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:612px; height:792px; background: #fff !important; }
.paper-vertical { width:612px; height:100%; }
.paper-horizontal { width:114448px; height:804px; }
@media all and (max-height:792px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:612px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}
#viewer-options-wrap {
	position:fixed;bottom:0;left:0;width:100%;padding:4px;
	font-family:'Gill Sans','Arial Narrow',Helvetica,Arial,sans-serif;
	transform:translateZ(0);
	transition:transform .5s;
}
#viewer-options-bar{
	position:absolute;bottom:0;left:0;width:100%;
	background-color:#000; color:#fff; fill:#fff;
	height:40px; display:table;
}
#viewer-options-bar.light { color:#000; fill:#000; }
#viewer-options-wrap.no-options #viewer-options-bar {display:none;}
#viewer-options-bar > span { display:table-cell; vertical-align:middle; cursor:default;}
#viewer-logo { display:inline-block; margin-right:14px;}
#viewer-logo img, #viewer-logo object {
	height:36px;
    vertical-align:middle;
    padding:2px 4px;
}
#viewer-title{ padding-left:6px; white-space:nowrap; }
#viewer-pagecount{ text-align:center; width:100%; }
#viewer-options { text-align:right; min-width:340px; }
.viewer-option-btn { cursor:pointer;display:inline-block;margin-right:24px;width:24px;padding:0;}
.viewer-option-btn > svg { position:relative; }
::-webkit-scrollbar #viewer-thumb-wrap {
    width:0px;  background:transparent;
}
#viewer-thumb-wrap {
    position:fixed; bottom:-50px; padding-bottom:46px;
    left:0; right:0; margin:auto;
    overflow-y:hidden; overflow-x:auto;
    background-color:rgba(255,255,255,.7);
    -webkit-overflow-scrolling:touch;
    scroll-behavior: smooth;
}
#viewer-options-thumb-images { margin-bottom:30px; padding-left:24px}
.viewer-page-thumb {
    display:table-cell;
    cursor:pointer;
    padding:24px 0;
	pointer-events:auto;
	-ms-transform:scale(.9); -webkit-transform:scale(.9); transform:scale(.9);
	-webkit-transition:transform .4s; transition:transform .4s;
}
.viewer-page-thumb:hover {
	-ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1);
}
.viewer-page-thumb > img { box-shadow:0 0 24px rgba(0,0,0,.5); }
.viewer-page-thumb.active > img { outline:2px solid #6b7a75; }
.dragging, .dragging * { cursor:move !important; }
.dragging, .dragging * { cursor:move !important; }
#viewer_progress_bar {width:0;left:0;height:6px;position:fixed;bottom:40px;background:#6b7a75;}
#viewer-options-wrap.no-options #viewer_progress_bar {bottom:0;}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}
#viewer-options-bar #view-toggle {
    position:absolute;
    right:8px;
    bottom:120px;
    display:block;
    width:70px;
    height:50px;
    border-radius:12px 12px 0 0;
    cursor:pointer;
    display:none;
}
#viewer-options-bar #view-toggle svg {
    position:absolute;
    left:0;right:0;top:0;bottom:0;
    margin:auto;
}
@media all and (-ms-high-contrast:none), (-ms-high-contrast:active) {
     .viewer-option-btn{height:40px} /*IE10/11 fix*/
}

@media all and (max-width:780px) {
	#viewer-thumb-wrap { bottom:-20px; }
	#viewer-options-wrap.collapsed {
		-ms-transform:translateY(120px);
		-webkit-transform:translateY(120px);
		transform:translateY(120px);
		transition:transform .5s;
	}
	#viewer-options-wrap.collapsed #view-toggle svg {
		-ms-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
	#viewer-options-wrap.collapsed #viewer-options-thumb-images { display:none; }
	#viewer-options-bar #view-toggle { display:block; }
	#viewer_progress_bar {bottom:120px;}
	#viewer-options-bar{height:120px;display:block;}
	#viewer-pagecount{right:24px;width:auto;}
	#viewer-options-bar > span{display:inline-block;position:absolute;padding-top:14px}
	#viewer-options{display:table;table-layout:fixed;width:98%;bottom:12px;}
	.viewer-option-btn{display:table-cell;height:auto;min-width:44px;max-width:50px;padding:12px;width:2%;position:relative;}
	.viewer-option-btn > svg {max-width:50px;position:absolute;left:0;right:0;bottom:10px;margin:auto;}
	.viewer-option-btn:first-child{padding-left:6px;}
	.viewer-option-btn:last-child{padding-right:18px;}
	#viewer-options-thumb-images{margin-bottom:90px;}
	body:not(.responsive) .viewer-page-thumb > img {max-width:175px;}
}
#item14088 {
	width:612px !important;
	height:792px !important;
	background:#f1edb7;
}

#item19522 {
	width:1px !important;
	height:10px !important;
	left:108px !important;
	top:14px !important;
	background:#a25424;
}

#item21336 {
	width:30px !important;
	height:261px !important;
	left:582px !important;
	top:154px !important;
	background:#fff;
	border:solid 1px #fff;
}

#item21161 {
	width:41px !important;
	height:41px !important;
	left:318px !important;
	top:433px !important;
}

#item20077 {
	width:427px !important;
	height:57px !important;
	left:94px !important;
	border:solid 5.80106951871658px #ebe9cb;
}

#item19895 {
	width:31px !important;
	height:31px !important;
	left:209px !important;
	top:14px !important;
}

#item19902 {
	width:31px !important;
	height:31px !important;
	left:372px !important;
	top:14px !important;
}

#item19910 {
	width:31px !important;
	height:31px !important;
	left:112px !important;
	top:14px !important;
}

#item18495 {
	width:612px !important;
	height:792px !important;
	background:#f1edb7;
}

#item16351 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:325px !important;
}

#item16472 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:386px !important;
}

#item16569 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:631px !important;
}

#item16665 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:571px !important;
}

#item16761 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:510px !important;
}

#item16932 {
	width:366px !important;
	height:49px !important;
	left:69px !important;
	top:447px !important;
}

#item17029 {
	width:366px !important;
	height:47px !important;
	left:69px !important;
	top:264px !important;
}

#item18548 {
	width:290px !important;
	height:319px !important;
	left:30px !important;
	top:409px !important;
	border:solid 5.80106951871658px #ebe9cb;
}

#item18235 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:742px !important;
}

#item18253 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:345px !important;
}

#item20492 {
	width:41px !important;
	height:41px !important;
	left:95px !important;
	top:95px !important;
}

#item588 {
	opacity:0.70;
	width:470px !important;
	height:71px !important;
	left:30px !important;
	top:51px !important;
	background:#fff;
}

#item20508 {
	width:41px !important;
	height:41px !important;
	left:480px !important;
	top:102px !important;
}

#item611 {
	opacity:0.70;
	width:382px !important;
	height:122px !important;
	left:200px !important;
	top:619px !important;
	background:#fff;
}

#item20524 {
	width:41px !important;
	height:41px !important;
	left:517px !important;
	top:239px !important;
}

#item691 {
	opacity:0.70;
	width:412px !important;
	height:159px !important;
	left:170px !important;
	top:317px !important;
	background:#fff;
}

#item20539 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:258px !important;
}

#item20554 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:260px !important;
}

#item882 {
	opacity:0.80;
	width:422px !important;
	height:90px !important;
	left:190px !important;
	top:171px !important;
	background:#fff;
}

#item883 {
	opacity:0.80;
	width:422px !important;
	height:108px !important;
	left:190px !important;
	top:513px !important;
	background:#fff;
}

#item20570 {
	width:41px !important;
	height:41px !important;
	left:535px !important;
	top:267px !important;
}

#item20587 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:234px !important;
}

#item10318 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:27px !important;
}

#item18272 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:296px !important;
}

#item20610 {
	width:41px !important;
	height:41px !important;
	left:123px !important;
	top:95px !important;
}

#item1145 {
	opacity:0.70;
	width:500px !important;
	height:71px !important;
	top:51px !important;
	background:#fff;
}

#item9175 {
	width:41px !important;
	height:41px !important;
	left:480px !important;
	top:102px !important;
}

#item1122 {
	opacity:0.80;
	width:470px !important;
	height:72px !important;
	left:71px !important;
	top:683px !important;
	background:#fff;
}

#item1248 {
	opacity:0.80;
	width:418px !important;
	height:60px !important;
	left:-2px !important;
	top:42px !important;
	background:#fff;
}

#item9180 {
	width:41px !important;
	height:41px !important;
	left:396px !important;
	top:82px !important;
}

#item1247 {
	opacity:0.80;
	width:418px !important;
	height:60px !important;
	left:194px !important;
	top:676px !important;
	background:#fff;
}

#item1317 {
	opacity:0.80;
	width:344px !important;
	height:107px !important;
	left:134px !important;
	top:52px !important;
	background:#fff;
}

#item9199 {
	width:41px !important;
	height:41px !important;
	left:458px !important;
	top:138px !important;
}

#item1318 {
	opacity:0.80;
	width:344px !important;
	height:107px !important;
	left:134px !important;
	top:634px !important;
	background:#fff;
}

#item1387 {
	opacity:0.80;
	width:344px !important;
	height:74px !important;
	left:134px !important;
	top:52px !important;
	background:#fff;
}

#item9212 {
	width:41px !important;
	height:41px !important;
	left:458px !important;
	top:106px !important;
}

#item1388 {
	opacity:0.80;
	width:376px !important;
	height:74px !important;
	left:118px !important;
	top:650px !important;
	background:#fff;
}

#item1513 {
	opacity:0.70;
	width:500px !important;
	height:71px !important;
	top:51px !important;
	background:#fff;
}

#item1514 {
	opacity:0.70;
	width:454px !important;
	height:40px !important;
	left:158px !important;
	top:670px !important;
	background:#fff;
}

#item1515 {
	opacity:0.70;
	width:224px !important;
	height:56px !important;
	left:388px !important;
	top:414px !important;
	background:#fff;
}

#item9230 {
	width:41px !important;
	height:41px !important;
	left:479px !important;
	top:102px !important;
}

#item10345 {
	width:41px !important;
	height:41px !important;
	left:525px !important;
	top:102px !important;
}

#item9247 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:302px !important;
}

#item9260 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:302px !important;
}

#item9278 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:317px !important;
}

#item9299 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:292px !important;
}

#item9314 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:300px !important;
}

#item10376 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:27px !important;
}

#item18293 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:287px !important;
}

#item20795 {
	width:41px !important;
	height:41px !important;
	left:95px !important;
	top:95px !important;
}

#item2198 {
	opacity:0.80;
	width:416px !important;
	height:59px !important;
	top:561px !important;
	background:#fff;
}

#item2199 {
	opacity:0.80;
	width:416px !important;
	height:61px !important;
	top:435px !important;
	background:#fff;
}

#item9327 {
	width:41px !important;
	height:41px !important;
	left:396px !important;
	top:476px !important;
}

#item2278 {
	opacity:0.80;
	width:358px !important;
	height:62px !important;
	left:127px !important;
	top:662px !important;
	background:#fff;
}

#item2280 {
	opacity:0.80;
	width:358px !important;
	height:62px !important;
	left:127px !important;
	top:572px !important;
	background:#fff;
}

#item9343 {
	width:41px !important;
	height:41px !important;
	left:464px !important;
	top:625px !important;
}

#item2279 {
	opacity:0.80;
	width:300px !important;
	height:40px !important;
	left:156px !important;
	top:676px !important;
	background:#fff;
}

#item2281 {
	opacity:0.80;
	width:300px !important;
	height:40px !important;
	left:156px !important;
	top:615px !important;
	background:#fff;
}

#item2282 {
	opacity:0.80;
	width:358px !important;
	height:210px !important;
	left:127px !important;
	top:100px !important;
	background:#fff;
}

#item2460 {
	opacity:0.80;
	width:382px !important;
	height:196px !important;
	left:115px !important;
	top:124px !important;
	background:#fff;
}

#item9358 {
	width:41px !important;
	height:41px !important;
	left:477px !important;
	top:300px !important;
}

#item2459 {
	opacity:0.80;
	width:382px !important;
	height:196px !important;
	left:108px !important;
	top:540px !important;
	background:#fff;
}

#item2537 {
	opacity:0.80;
	width:358px !important;
	height:62px !important;
	left:127px !important;
	top:620px !important;
	background:#fff;
}

#item2538 {
	opacity:0.80;
	width:358px !important;
	height:62px !important;
	left:127px !important;
	top:535px !important;
	background:#fff;
}

#item9377 {
	width:41px !important;
	height:41px !important;
	left:475px !important;
	top:587px !important;
}

#item2539 {
	opacity:0.80;
	width:316px !important;
	height:48px !important;
	left:148px !important;
	top:634px !important;
	background:#fff;
}

#item2540 {
	opacity:0.80;
	width:316px !important;
	height:34px !important;
	left:148px !important;
	top:702px !important;
	background:#fff;
}

#item2541 {
	opacity:0.80;
	width:358px !important;
	height:182px !important;
	left:127px !important;
	top:45px !important;
	background:#fff;
}

#item2703 {
	opacity:0.80;
	width:382px !important;
	height:222px !important;
	left:115px !important;
	top:464px !important;
	background:#fff;
}

#item9412 {
	width:41px !important;
	height:41px !important;
	left:477px !important;
	top:666px !important;
}

#item2702 {
	opacity:0.80;
	width:382px !important;
	height:222px !important;
	left:115px !important;
	top:94px !important;
	background:#fff;
}

#item2784 {
	opacity:0.80;
	width:446px !important;
	height:69px !important;
	top:693px !important;
	background:#fff;
}

#item2785 {
	opacity:0.80;
	width:446px !important;
	height:69px !important;
	top:602px !important;
	background:#fff;
}

#item9428 {
	width:41px !important;
	height:41px !important;
	left:425px !important;
	top:663px !important;
}

#item2880 {
	opacity:0.80;
	width:210px !important;
	height:35px !important;
	left:402px !important;
	top:627px !important;
	background:#fff;
}

#item2881 {
	opacity:0.80;
	width:210px !important;
	height:34px !important;
	left:402px !important;
	top:694px !important;
	background:#fff;
}

#item7566 {
	opacity:0.80;
	width:392px !important;
	height:166px !important;
	left:110px !important;
	top:160px !important;
	background:#fff;
}

#item7567 {
	opacity:0.80;
	width:392px !important;
	height:166px !important;
	left:110px !important;
	top:470px !important;
	background:#fff;
}

#item9448 {
	width:41px !important;
	height:41px !important;
	left:481px !important;
	top:306px !important;
}

#item20406 {
	width:41px !important;
	height:41px !important;
	left:40px !important;
	top:41px !important;
}

#item9464 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:632px !important;
}

#item9478 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:621px !important;
}

#item3179 {
	opacity:0.80;
	width:298px !important;
	height:42px !important;
	left:314px !important;
	top:609px !important;
	background:#fff;
}

#item3180 {
	opacity:0.80;
	width:298px !important;
	height:42px !important;
	left:314px !important;
	top:668px !important;
	background:#fff;
}

#item9498 {
	width:41px !important;
	height:41px !important;
	left:529px !important;
	top:277px !important;
}

#item10400 {
	width:41px !important;
	height:41px !important;
	left:524px !important;
	top:277px !important;
}

#item9511 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:300px !important;
}

#item10420 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:27px !important;
}

#item18318 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:278px !important;
}

#item20875 {
	width:41px !important;
	height:41px !important;
	left:95px !important;
	top:95px !important;
}

#item9533 {
	width:41px !important;
	height:41px !important;
	left:483px !important;
	top:140px !important;
}

#item9542 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:289px !important;
}

#item10435 {
	width:41px !important;
	height:41px !important;
	left:60px !important;
	top:43px !important;
}

#item9565 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:320px !important;
}

#item9583 {
	width:41px !important;
	height:41px !important;
	left:475px !important;
	top:329px !important;
}

#item3834 {
	opacity:0.80;
	width:582px !important;
	height:229px !important;
	left:30px !important;
	top:60px !important;
	background:#fff;
}

#item9597 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:268px !important;
}

#item3857 {
	opacity:0.80;
	width:582px !important;
	height:229px !important;
	top:289px !important;
	background:#fff;
}

#item3902 {
	opacity:0.80;
	width:408px !important;
	height:225px !important;
	left:102px !important;
	top:51px !important;
	background:#fff;
}

#item9612 {
	width:41px !important;
	height:41px !important;
	left:490px !important;
	top:256px !important;
}

#item3937 {
	opacity:0.80;
	width:382px !important;
	height:225px !important;
	left:115px !important;
	top:51px !important;
	background:#fff;
}

#item4010 {
	opacity:0.80;
	width:429px !important;
	height:229px !important;
	left:92px !important;
	top:244px !important;
	background:#fff;
}

#item9629 {
	width:41px !important;
	height:41px !important;
	left:500px !important;
	top:452px !important;
}

#item4033 {
	opacity:0.80;
	width:411px !important;
	height:229px !important;
	left:101px !important;
	top:60px !important;
	background:#fff;
}

#item9644 {
	width:41px !important;
	height:41px !important;
	left:475px !important;
	top:332px !important;
}

#item4163 {
	opacity:0.80;
	width:374px !important;
	height:107px !important;
	left:208px !important;
	top:563px !important;
	background:#fff;
}

#item9661 {
	width:41px !important;
	height:41px !important;
	left:555px !important;
	top:653px !important;
}

#item4186 {
	opacity:0.80;
	width:418px !important;
	height:109px !important;
	left:164px !important;
	top:397px !important;
	background:#fff;
}

#item9681 {
	width:41px !important;
	height:41px !important;
	left:475px !important;
	top:655px !important;
}

#item4317 {
	opacity:0.80;
	width:472px !important;
	height:90px !important;
	left:140px !important;
	top:261px !important;
	background:#fff;
}

#item4318 {
	opacity:0.80;
	width:472px !important;
	height:90px !important;
	left:140px !important;
	top:411px !important;
	background:#fff;
}

#item9698 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:361px !important;
}

#item4386 {
	opacity:0.80;
	width:472px !important;
	height:126px !important;
	left:140px !important;
	top:126px !important;
	background:#fff;
}

#item4387 {
	opacity:0.80;
	width:472px !important;
	height:126px !important;
	left:140px !important;
	top:540px !important;
	background:#fff;
}

#item9712 {
	width:41px !important;
	height:41px !important;
	left:530px !important;
	top:261px !important;
}

#item4454 {
	opacity:0.80;
	width:428px !important;
	height:113px !important;
	left:92px !important;
	top:554px !important;
	background:#fff;
}

#item9728 {
	width:41px !important;
	height:41px !important;
	left:499px !important;
	top:646px !important;
}

#item4477 {
	opacity:0.80;
	width:436px !important;
	height:132px !important;
	left:88px !important;
	top:541px !important;
	background:#fff;
}

#item4523 {
	opacity:0.80;
	width:512px !important;
	height:162px !important;
	left:50px !important;
	top:589px !important;
	background:#fff;
}

#item9747 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:724px !important;
}

#item4546 {
	opacity:0.80;
	width:512px !important;
	height:162px !important;
	left:50px !important;
	top:589px !important;
	background:#fff;
}

#item9763 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:275px !important;
}

#item21147 {
	width:41px !important;
	height:41px !important;
	left:463px !important;
	top:275px !important;
}

#item9777 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:275px !important;
}

#item10448 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:27px !important;
}

#item18335 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:251px !important;
}

#item20955 {
	width:41px !important;
	height:41px !important;
	left:124px !important;
	top:95px !important;
}

#item9793 {
	width:41px !important;
	height:41px !important;
	left:554px !important;
	top:742px !important;
}

#item4918 {
	opacity:0.80;
	width:532px !important;
	height:132px !important;
	top:555px !important;
	background:#fff;
}

#item9821 {
	width:41px !important;
	height:41px !important;
	left:512px !important;
	top:666px !important;
}

#item4917 {
	opacity:0.80;
	width:532px !important;
	height:121px !important;
	left:80px !important;
	top:336px !important;
	background:#fff;
}

#item9837 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:356px !important;
}

#item9852 {
	width:41px !important;
	height:41px !important;
	left:519px !important;
	top:724px !important;
}

#item9868 {
	width:41px !important;
	height:41px !important;
	left:524px !important;
	top:243px !important;
}

#item9885 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:162px !important;
}

#item9899 {
	width:41px !important;
	height:41px !important;
	left:411px !important;
	top:679px !important;
}

#item5383 {
	opacity:0.80;
	width:518px !important;
	height:136px !important;
	left:47px !important;
	top:602px !important;
	background:#fff;
}

#item9916 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:718px !important;
}

#item5382 {
	opacity:0.80;
	width:518px !important;
	height:120px !important;
	left:47px !important;
	top:610px !important;
	background:#fff;
}

#item9932 {
	width:41px !important;
	height:41px !important;
	left:480px !important;
	top:697px !important;
}

#item9947 {
	width:41px !important;
	height:41px !important;
	left:474px !important;
	top:234px !important;
}

#item9962 {
	width:41px !important;
	height:41px !important;
	left:489px !important;
	top:698px !important;
}

#item5741 {
	opacity:0.80;
	width:518px !important;
	height:118px !important;
	left:47px !important;
	top:608px !important;
	background:#fff;
}

#item9977 {
	width:41px !important;
	height:41px !important;
	left:528px !important;
	top:709px !important;
}

#item5742 {
	opacity:0.80;
	width:518px !important;
	height:136px !important;
	left:47px !important;
	top:599px !important;
	background:#fff;
}

#item9994 {
	width:41px !important;
	height:41px !important;
	left:537px !important;
	top:324px !important;
}

#item5897 {
	opacity:0.80;
	width:328px !important;
	height:82px !important;
	top:64px !important;
	background:#fff;
}

#item10013 {
	width:41px !important;
	height:41px !important;
	left:307px !important;
	top:126px !important;
}

#item5896 {
	opacity:0.80;
	width:360px !important;
	height:82px !important;
	left:252px !important;
	top:272px !important;
	background:#fff;
}

#item21113 {
	width:41px !important;
	height:41px !important;
	left:517px !important;
	top:43px !important;
}

#item10028 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:275px !important;
}

#item10468 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:27px !important;
}

#item18358 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:276px !important;
}

#item21028 {
	width:41px !important;
	height:41px !important;
	left:95px !important;
	top:95px !important;
}

#item6192 {
	opacity:0.80;
	width:428px !important;
	height:80px !important;
	left:92px !important;
	top:80px !important;
	background:#fff;
}

#item10043 {
	width:41px !important;
	height:41px !important;
	left:501px !important;
	top:140px !important;
}

#item6215 {
	opacity:0.80;
	width:428px !important;
	height:80px !important;
	left:92px !important;
	top:80px !important;
	background:#fff;
}

#item10059 {
	width:41px !important;
	height:41px !important;
	left:528px !important;
	top:736px !important;
}

#item6343 {
	opacity:0.80;
	width:472px !important;
	height:74px !important;
	left:140px !important;
	top:119px !important;
	background:#fff;
}

#item6344 {
	opacity:0.80;
	width:472px !important;
	height:90px !important;
	left:140px !important;
	top:583px !important;
	background:#fff;
}

#item10074 {
	width:41px !important;
	height:41px !important;
	left:531px !important;
	top:204px !important;
}

#item10093 {
	width:41px !important;
	height:41px !important;
	left:528px !important;
	top:676px !important;
}

#item10110 {
	width:41px !important;
	height:41px !important;
	left:498px !important;
	top:685px !important;
}

#item10484 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:685px !important;
}

#item6584 {
	opacity:0.80;
	width:512px !important;
	height:212px !important;
	left:50px !important;
	top:550px !important;
	background:#fff;
}

#item6585 {
	opacity:0.80;
	width:512px !important;
	height:212px !important;
	left:50px !important;
	top:318px !important;
	background:#fff;
}

#item10124 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:509px !important;
}

#item10137 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:321px !important;
}

#item10155 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:321px !important;
}

#item6809 {
	opacity:0.80;
	width:384px !important;
	height:68px !important;
	left:108px !important;
	top:664px !important;
	background:#fff;
}

#item10172 {
	width:41px !important;
	height:41px !important;
	left:472px !important;
	top:712px !important;
}

#item6832 {
	opacity:0.80;
	width:332px !important;
	height:91px !important;
	left:280px !important;
	top:57px !important;
	background:#fff;
}

#item6878 {
	opacity:0.80;
	width:472px !important;
	height:90px !important;
	left:140px !important;
	top:76px !important;
	background:#fff;
}

#item6879 {
	opacity:0.80;
	width:472px !important;
	height:90px !important;
	left:140px !important;
	top:226px !important;
	background:#fff;
}

#item10189 {
	width:41px !important;
	height:41px !important;
	left:544px !important;
	top:146px !important;
}

#item21136 {
	width:41px !important;
	height:41px !important;
	left:493px !important;
	top:146px !important;
}

#item10203 {
	width:41px !important;
	height:41px !important;
	left:515px !important;
	top:275px !important;
}

#item18377 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:505px !important;
}

#item18701 {
	width:612px !important;
	height:792px !important;
	background:#f1edb7;
}

#item18859 {
	width:1px !important;
	height:6px !important;
	left:71px !important;
	top:9px !important;
	background:#a25424;
}

#item18398 {
	width:41px !important;
	height:41px !important;
	left:286px !important;
	top:658px !important;
}
#in5footer,  #prefooter {display:none;}

#loadIndicator{display:none;}
